[submodule "M1SGBD"]
	path = M1SGBD
	url = https://github.com/jecisc/M1SGBD.git
[submodule "M1COO"]
	path = M1COO
	url = https://github.com/jecisc/M1COO.git
[submodule "ConduiteProjet"]
	path = ConduiteProjet
	url = https://github.com/jecisc/ConduiteProjet.git
[submodule "M1JdE"]
	path = M1JdE
	url = https://github.com/jecisc/M1JdE.git
[submodule "M1ED"]
	path = M1ED
	url = https://github.com/jecisc/M1ED.git
[submodule "M1OBDD"]
	path = M1OBDD
	url = https://github.com/jecisc/M1OBDD.git
[submodule "M1FdD"]
	path = M1FdD
	url = https://github.com/jecisc/M1FdD.git
[submodule "M1PAI"]
	path = M1PAI
	url = https://github.com/jecisc/M1PAI.git
